.heading1 {
  color: var(--fc-head);
  font-size: var(--fs-head-1);
  font-weight: 600;
  display: block;
}

.heading2 {
  color: var(--fc-content);
  font-size: var(--fs-head-2);
  display: block;
}

.heading3 {
  color: var(--fc-head);
  font-size: var(--fs-head-2);
  display: block;
  font-weight: 600;
}
