.btn {
  background-color: transparent;
  border: 1px solid var(--menubar-underline);
  color: var(--fc-content);
  padding: 5px 10px;
  border-radius: 5px;
  transition: 0.3s ease-in-out;
  min-width: 60px;
  width: 100%;
  cursor: pointer;
}
.active {
  border: 1px solid var(--orange);
  background-color: var(--orange);
  color: var(--fc-head);
}
