// Stylings for the analytics page

.home {
    width: 100%;
    display: flex;
    .main_wrapper {
        width: 100%;
        padding: 5vh;
        display: flex;
        justify-content: space-between;

        .left {
            width: calc(66.66% - 10px);
            display: flex;
            align-items: center;
            // justify-content: space-around;
            gap: 20px;
            flex-direction: column;
            // border: 2px solid yellow;
            .heading {
                width: 100%;
                border: 2px solid blue;
            }
            .data {
                width: 100%;
                border: 2px solid blue;
            }
        }
        .right {
            width: calc(33.33% - 10px);
            height: 100%;
            border: 2px solid blue;
        }
    }
}
